@model NoteApplication.ViewModels.DashboardViewModel

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Note List";
}
<div class="row">
    <table class="table table-bordered">
        <thead>
            <th>Total Count</th>
            <th>Edit Count</th>
            <th>Delete Count</th>
        </thead>
        <tbody>
            <td>@Model.AddCount</td>
            <td>@Model.EditCount</td>
            <td>@Model.DeleteCount</td>
        </tbody>
    </table>
</div>
<div id="table"></div>
<div class="d-flex justify-content-end">
    @*<button type="button" class="btn btn-primary" data-toggle="note-modal" data-target="#addNote" data-url="@Url.Action("Create")">
        Create
    </button>*@
    <button type="button" class="btn btn-primary" data-toggle="note-modal" data-target="#addNote" onclick="addNote()">
        Create
    </button>
</div>
<div>
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var note in Model.Notes)
            {
                <tr>
                    <td>@i</td>
                    <td>@note.Title</td>
                    <td>@note.Description</td>
                    <td>
                        <button type="button" class="btn btn-primary mx-10" data-toggle="note-modal" data-target="#addNote" onclick="editNote('@note.Id')">
                            Edit
                        </button>
                        <button class="btn btn-primary mx-10" data-toggle="modal" data-target="@("#NoteDetail" + note.Id)" data-url="@Url.Action($"Detail/{note.Id}")" onclick="showDetailModal('@note.Id')">
                            Details
                        </button>
                        @await Html.PartialAsync("_NoteDetailPartialView",note)

                        <button type="button" class="btn btn-danger mx-10" data-toggle="note-modal" data-target="#deleteNote" onclick="deleteNote('@note.Id')">
                            Delete
                        </button>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
<script>
    function addNote(){
        $.ajax({
            type: 'GET',
            url: '/Note/Create',
            success: function (result){
                $('#table').html(result);
                $('#addNote').modal('show');
            }
        })
    }

    function showDetailModal(Id){
        $('#NoteDetail' + Id).modal('show');
    }

    function detailNote(Id) {
        $.ajax({
            type: 'GET',
            url: '/Note/Detail/'+Id,
            success: function (result) {
                $('#table').html(result);
                $('#NoteDetail'+Id).modal('show');
            }
        })
    }

    function editNote(Id) {
        $.ajax({
            type: 'GET',
            url: '/Note/Edit/'+Id,
            success: function (result) {
                $('#table').html(result);
                $('#editNote').modal('show');
            }
        })
    }

    function deleteNote(Id) {
        $.ajax({
            type: 'GET',
            url: '/Note/Delete/' + Id,
            success: function (result) {
                $('#table').html(result);
                $('#deleteNote').modal('show');
            }
        })
    }
</script>